{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contato</title>
    {% bootstrap_css %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="pd-10">
     <h1>Contato</h1>
        {% bootstrap_messages %}
        <form action="{% url 'contato' %}" method="post" class="form-label" autocomplete="off">
          {% csrf_token %}
            {% bootstrap_form form %}
                <button type="submit" class="btn btn-primary">Enviar Mensagem</button>

        </form>
        </div>
    </div>


{% bootstrap_javascript jquery='full' %}
</body>
</html>